.userInfo{
    margin: 10px;
    padding: 15px;
    background-color: #34495e;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
}

.icons{
    float: left;
    margin: 3px 5px;
}

.avatar{
    height: 300px;
}

a{
    color: aliceblue;
}